center{
    text-align: left;
    margin-left: 35px;
    padding-top: 75px; 
}

h1 {
    margin :10px 0px;
    text-align: center;
    font-family: 'BigJohn'; /*Changer la police*/
    font-size: 4.5vw;
    margin-bottom: 25px;
}
.header #header_absolute a {
    color: black; /*Couleur HEADER premier*/
}
 h2{
    margin : 20px 0px -5px;
    font-size: 25px;
}

dernier_p p{
    margin-bottom: 80px;
}