header{
    height: 50px;
    position: relative;
}

.navigation-principale
{
    background-color: rgb(47, 63, 236);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

.titre-du-projet a{
    position: absolute;
    color: white;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
    bottom: 5px;
    left: 35px;
}

.p_statistique a, .p_accueil a{
    position: absolute;
    right: 15px;
    top:12px;
    color: black;
    text-decoration: none;
    padding: 5px 17px;
    border-radius: 20px;
    background: white;
}

.p_accueil a{
    margin-right: 128px;
}

footer
{
    background-color: white;
    width:100%;
    height:50px;
    position: fixed;
    bottom:0%;
    
}

footer .navigation-secondaire{
    background-color: rgb(47, 63, 236);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}
.navigation-secondaire .p_crédit a, .navigation-secondaire .p_a-propos-de-nous a{
    position: absolute;
    right: 25px;
    top:12px;
    color: black;
    text-decoration: none;
    padding: 5px 17px;
    border-radius: 20px;
    background: white;
}
.navigation-secondaire .p_a-propos-de-nous a{
    margin-right: 103px;
}

fieldset[id="filtres"]{
    width:50%;
    border-width:6px;
    border-color:rgb(236, 206, 206);
    margin:0%;
    padding:1%;
    float:right;
}

input[type="reset"]
{
    position :absolute;
    right:2%;
    top:40%;
}
