@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* utiliser le font de google Roboto*/


/*definir des constantes couleur font...*/
:root{
    --section-bg:#f5f5f5; /*variables de la section*/
    --section-border:#DEE5EF;
    --section-filtre-bg:#a1b0b8;

    --graph-text-bg-hover:#b4dbd6;
    --graph-border-color:rgba(0,0,0,.15);

    --table-hover-bg:#cacbce;

    --telecharger-bg-hover:#c4302b;

    --shadow-color:rgba(000,000,000,0.3);

    --filtre-carte-color:#565656; /*variable du filtre*/
    --filtre-carte-bg:#e5e5e5;
    --filtre-border-color:#ccc;
    --blue-filtre-bg:#6e93f7;

    --blue-border-effect:#0a6bff;

    --reset-bg-hover:#065dd8;

    
    
    --filtre-carte-weight:700;
    --filtre-carte-size:15px;    
}

html{  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    height: 100%;
}


@media screen and (max-width: 769px) {   /*s'applique aux ecrans avec une largeur <768px */
    .graph-text-container button{
        display:none;  /*Cacher le bouton graphe*/
    }

    .table-annee-container{
        display: none; /*Cacher le Tableau*/
    }

    .graph-filtres-container{
        width:90%;   /*le graphe prend 90% de la largeur de graphe-table-container*/
    }

}

@media screen and (max-width: 576px) {   /*s'applique aux ecrans avec une largeur <768px */

    .telecharger-container img{
        display: none; /*cacher l'image dans le bouton télécharger*/
    }

}
     
        

@media screen and (min-width:769px){   /*s'applique aux ecrans avec une largeur >768px */
    .graph-filtres-container{
        width:60%;  /*le tableau prend 60% de la largeur*/
    }

    .table-annee-container{             /*afficher le tableau*/
        display: flex;
        flex-direction: column;
    }   
}



   
    


