
.graph-text-container>button{
    background-color: whitesmoke;
    height: 60px;
    border:1px solid #dee5ef;
    width:10%; /*une largeur de 10% de l'element parent*/
    margin-left:10%; /*decaler le button de 10% a gauch*/
    font-size: 1.5rem;
    transition: 0.3s all ease;
}

/* style du button graph hover */
.graph-text-container>button:hover{
    cursor: pointer;
    background-color: #b4dbd6;

}

.filtre-annee{ 
    height: 40px;
    border:1px solid #dee5ef;
    font-size: 1rem;
    width:30%; /*le button année prend 30% de la largeur du tableau-annee-container*/
}


.button-telecharger{
    width:150px;
    font-size: 1.2rem;
}




.telecharger-button-container>button{
    transition:all 0.1s ease ;
}

.telecharger-button-container>button:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: red;

}

.telecharger-button-container>button:active{
    background-color: rgba(230, 78, 78, 0.8);
    color:whitesmoke;
}



