
.graph-text-container>button{
    background-color: whitesmoke;
    height: 100%;
    border:1px solid #dee5ef;
    margin-left:10%; /*decaler le button de 10% a gauch*/
    transition: 0.3s all ease;
    font-size: 25px;
    width:12%;
}

/* style du button graph hover */
.graph-text-container>button:hover{
    cursor: pointer;
    background-color: #b4dbd6;

}

.filtre-annee{ 
    height: 100%;
    border:1px solid #dee5ef;
    font-size: 1rem;
    width:40%; /*le button année prend 40% de la largeur du tableau-annee-container*/
}


.button-telecharger{
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 20px;
}




.telecharger-container>button{
    transition:all 0.5s ease ;
}

.telecharger-container>button:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: red;

}

.telecharger-container>button:active{
    background-color: rgba(230, 78, 78, 0.8);
    color:whitesmoke;
}



