/* le tableau */


thead{
    background-color: gray;
}

table{
    border-collapse: collapse;
    
    

}

table, th, td {
    border: 1px solid;
    text-align: center; /*centrer le texte des cases du tableau*/
}

td{
    padding:5px;
    font-size: 0.8rem;
}

table{
    flex-basis: 90%; /*le tableau prend 90% de l'espace de table-annee-container*/
}