

section{
    display: flex;
    border:solid 1px var(--header-title-border-hover);
    background-color: var(--section-bg);
    justify-content: space-evenly;
    margin:2%;
    margin-top: 12%;
    height: 700px; 
    padding-top:5%;
    justify-content: space-around;

    
    
}

/*Filtres*/
form{
    width:40%;
    height:90%;
    display: flex;
    flex-direction: column;
    color:var(--filtre-carte-color);
    font-weight: var(--filtre-carte-weight);

    



    



}

select{
    height: 20px;
    width:30%;
    border: 1px solid var(--graph-border-color);
    

}








.filtre-container{
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px var(--shadow-color);
    font-size: 15px;
    border:1px solid var(--section-border);
    background-color: #fff;


    
}




.filtre-container >div{
    height:15%;
    display: flex;
    align-items: center;
    width:90%;
    gap:10px;
   
}





.reset-container>input{
    margin-right: 10%;
    font-weight: var(--filtre-carte-weight);
}



/*Carte*/
#map{
    z-index:0;
    width:50%;
    display: flex;
    height:90%;
    border: 1px solid var(--graph-border-color);
    box-shadow: 3px 3px 3px rgba(000,000,000,0.3);




}

.reset-container{
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.reset-container input{
    height: 70%;
    background-color: #0086D6;
    border: 1px solid #0086D6;
    color:white;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

.reset-container input:hover{
    cursor: pointer;
    background-color: #0039d6;
}


@media screen and (max-width: 768px) {
    section{
        flex-direction: column;
        gap:10%;
        align-items: center;
    }
    #map,form{
        width:80%;
        
    }

    .filtre-container{
        font-size: 12px;
    }
}

