thead{
    background-color: gray;
}

table{
    border-collapse: collapse;
    
    

}

table, th, td {
    border: 1px solid;
    text-align: center;
}

td{
    padding:5px;
    font-size: 0.8rem;
}

table{
    flex-basis: 90%;
}