/*les elements du footer*/
footer{
    display: flex;
    height:10%;
    color:white;
    background-color: var(--header-bg);
    justify-content: space-around;
    padding: 1%;
   
}

footer p{
    font-size: 20px;
}


footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contactez-nous-container ul{
    align-items: center;
}

.contactez-nous-container ul li{
    color:var(--section-filtre-bg)
}

.nombre-accident{
    display:flex;

}

footer ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    width:30%;
 
    
}





footer ul li{
    color:white;
    font-size: 15px;
}

.liens-utils-container ul li{
    color:#ff9800 
}



#nombre-accident{
    display: flex;
    font-size: 25px;
    
}


.contactez-nous-container li:hover{
    background: linear-gradient(to bottom, #ff9800 0%, #ff9800 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
}






