@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* utiliser le font de google*/

html{  /*definier un font sur toute la page */
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    height: 100%;
    

}
 @media screen and (min-width: 576px) {  /*s'applique aux ecrants avec une largeur >768px */
    body {
      font-size: 20px;      /*modifier la police*/
    }

    .title{
        font-size: 2rem;
    }

    .accueil,.carte{
        justify-content: center;
    }

    .button-telecharger{
        font-size: 25px;
    }

    footer{
        font-size: 25px;
    }

    footer button{
        font-size: 25px;
    }



    table{
        font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {   /*s'applique aux ecrants avec une largeur <768px */
    .graph-text-container button{
        display:none;
    }

    .table-annee-container{
        display: none;
    }

    .graph-filtres-container{
        width:90%;
    }

    

}

    @media screen and (min-width:768px){   /*s'applique aux ecrants avec une largeur >768px */
        .graph-filtres-container{
            width:60%;
        }

        .table-annee-container{             /*afficher le graph*/
            display: flex;
            flex-direction: column;
        }    

    }
   
    


