

footer{
    display:flex;
    justify-content: center;
    background-color: #f5fbf9;
    border:2px solid #b4dbdc;
    height:10%;
}

.footer-container{
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}


.footer-container>button{
    /*style du boutton source */
    background-color: #1422cb ;
    border-radius: 80px;
    transition: all 0.4s ease;
    border: 1px solid black;
    height: 60%;
    color:white;
}

/*style du boutton source  hover */
.footer-container>button:hover{
    cursor: pointer;  
    color:whitesmoke;
    transform: scale(1.2);
    opacity:0.7;
    box-shadow: 15px 5px 15px rgba(32, 32, 32, 0.4);
    
    

}

/*style du boutton  a propos de nous  */
.footer-container p{
    text-align: center;
    transition: 0.4s;
    width:50%;
    
}

/*style du boutton  a propos de nous hover */
.footer-container p:hover{
        
    cursor: pointer;
    opacity: 0.4;

        
}


