/*les elements du footer*/

footer{
    display: flex;
    flex-direction: row;  /*afficher les elements horizontalement*/
    background-color: var(--footer-bg);
    border:2px solid var(--graph-text-bg-hover);
    height:10%; /*footer occupe 10% de la longeur de la page*/
}

.button-container,.a-propos-de-nous-container{ 
    display: flex;
    width:50%;  /*chaque element du footer occupe 50% de sa largeur*/
    justify-content: center;
    align-items: center;
}

   /*style du boutton credit */
.button-container button{
 
    background-color: var(--header-title-hover) ;
    border-radius: 60px;
    transition: all 0.4s ease;
    border: 1px solid black;
    height: 60%;
    color:white;
    
}

/*style du boutton source  hover */
.button-container button:hover{
    cursor: pointer;  
    color:var(--section-bg);
    transform: scale(1.2);
    opacity:0.7;
    box-shadow: 15px 5px 15px rgba(32, 32, 32, 0.4);
    
    

}


/*style du boutton  a propos de nous  */
.a-propos-de-nous-container p{
    transition: 0.4s;
    color:black
    
}

/*style du boutton  a propos de nous hover */
footer p:hover{
    cursor: pointer;
    opacity: 0.4;
}


